/* src/app.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  background-color: #0a0a0a;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --a-new-variable: 1; /* Aggiunta per forzare il reload */
}

/*
  --- SOLUZIONE MANUALE E DEFINITIVA ---
  Applichiamo lo stile direttamente. Usiamo un selettore molto specifico
  per garantire che questa regola sovrascriva quelle di default di 'prose'.
  La direttiva '@apply' qui funziona perché è a livello principale del file.
*/
.prose-invert strong {
  @apply text-amber-400;
}